.input[type=text], p{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    color: #fff01f;
    font-size: 1.2rem;
    margin: 10px 70px 50px;
}
.label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.button{
  
   padding: 15px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 
}
.button:hover{
    background-color: #d7ca0d;
    align-items: center;
}

.container{
    border-radius: 6px;
    padding: 98px 0;
    border: 2px solid #d7ca0d;
    text-align: center;

    
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px){
    .col-25, .button{
        width: 100%;
        margin-top: 0;
    }
}
