<div class="grid-container">
    <mat-card class="dashboard-card"  >
      <mat-card-title>Bitcoin</mat-card-title>
      <mat-card-subtitle>Criptocurrency</mat-card-subtitle>
      <mat-card-content>
        <p>{{longText}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card"  >
      <mat-card-title>Transactions</mat-card-title>
      <mat-card-subtitle>Carry out transactions using bitcoins</mat-card-subtitle>
      <mat-card-content>
        <p>{{text2}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card"  >
      <mat-card-title>Buying</mat-card-title>
      <mat-card-subtitle>Buying bitcoin directly</mat-card-subtitle>
      <mat-card-content>
        <p>{{text3}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card"  >
      <mat-card-title>Miners</mat-card-title>
      <mat-card-subtitle>Becoming a miner</mat-card-subtitle>
      <mat-card-content>
        <p>{{text4}}</p>
      </mat-card-content>
    </mat-card>
</div>
